@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hope you have a secure day! </p>
</div>
<div class="text-center">
<h2>What would you like to do?</h2>    
</div>
<div class="row" style="position:relative">
    <button class="active"style="position:center; ">
        First option
    </button>
    <button class="active" style="position:center; ">
        First option
    </button>
    <button class="active"style="position:center; ">
        First option
    </button>
</div>


